# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List languages used in data science
* List libraries used in data science
* Create tables listing open source tools for data science
* Create code to do basic math
* Create comments on code

Some of the languages Data Scientis use are:
1. Python
23. R
34. SQL

Some of the popular libraries used in data science are:
* Pandas
* Numpy
* Matplotlib
* Scipy
* Keras

Also this are the tools that are open source used in data science:

|Data Science Tools|
|-----------|
|Jupyter lab|
|Apache Spark|
|PostgreSQL|
|GITHUB|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
x = 200/60
print("200 minutes equals " + str(x) + " hours")

200 minutes equals 3.3333333333333335 hours

## Author:
Brian Iboy